.hello {
   min-height: 333px;
   padding: 123px;
}

.hello__title {
   font-size: 72px;
   font-weight: 800;
   line-height: 1.4;
   text-align: center;
}

.hello__text {
   font-size: 18px;
   padding-bottom: 40px;
   padding: 15px 15px 40px;
}
