body {
   background: #17191C;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Open Sans', sans-serif;
   color: #fff;
   font-size: 16px;
   line-height: 1.42;
}

a {
   color: inherit;
}

.wrapper--page {
   background: url(../../img_index/bg.png) center no-repeat;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 1142px;
   height: 960px;
}

.focus {
   background: url(../../img_index/rec.png) center no-repeat;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.logo {
   margin: 50px;
}

.button {
   font-size: 14px;
   background: #FF5500;
   border-radius: 35px;
   padding: 16px 54px;
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
   transition: 0.5s;
}

.button:hover {
   background: #FF3D00;
}

.focus--video {
   display: flex;
   flex-direction: column;
   align-items: center;
   opacity: 0;
   animation: rotateIn .9s;
   animation-fill-mode: forwards;
}

@keyframes rotateIn {
   from {
      transform: scale(0.1) rotate(30deg);
   }

   50% {
      transform: rotate(-10deg);
   }

   70% {
      transform: rotate(3deg);
   }

   to {
      opacity: 1;
      transform: scale(1);
   }
}