.footer {
   padding: 0;
}

.footer .container {
   padding-top: 50px
}

.social__icon {
   display: flex;
   justify-content: space-between;
   min-width: 174px;

}

.social__icon__link {
   display: flex;
}

.social__icon__item {
   opacity: 0.55;
}

.social__icon__item:hover {
   opacity: 1;
}

.footer__text {
   font-size: 11px;
}